.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
html,body{
  width: 100%;
  height: 100%;
}
.wrapper{
  background-color: rgb(170, 217, 219);
  background-image: url("./images/evergreen-2025158_1280.png");
  height: 100vh;
  width: 100%;
  position: relative;
  background-position: center;
}
.clouds{
  background-image: url("./images/cloud2.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
  top: -200px;
}
.hourse{
  position: absolute;
  bottom: -1%;
}
.palm {
  background-image: url("./images/palm.png");
  position: absolute;
  top: 500px;
  left: 600px;
}
